<div id="comments-list">
    <!--mustache 반복문 : dto가 여러개면 반복해라-->
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
            </div>

            <div class="card-body">
                {{body}}
            </div>

        </div>
    {{/commentDtos}}
</div>